name: feature-pipeline
on: [push]
permissions:
  contents: read
  statuses: write
  security-events: read
jobs: 
  feature-pipeline:
    if: github.ref != 'refs/heads/main'
    uses: daws-86s/workflows/.github/workflows/feature-nodejs-pipeline.yaml@main
    with:
      project: roboshop
      component: catalogue
      environment: dev
    secrets: inherit

  dev-pipeline:
    if: github.ref == 'refs/heads/main'
    uses: daws-86s/workflows/.github/workflows/dev-nodejs-pipeline.yaml@main
    with:
      project: roboshop
      component: catalogue
      environment: dev
    secrets: inherit